<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Sidebar -->
     <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="/assets/img/wizard.png" width="50" height="40" class="d-inline-block align-top" alt=""> </div>
      <div class="list-group bg-dark list-group-flush" id="menu-list">
        <a routerLink="app-decks" class="list-group-item list-group-item-action bg-dark">D</a>
        <a routerLink="app-game" class="list-group-item list-group-item-action bg-dark">G</a>
        <a routerLink="" class="list-group-item list-group-item-action bg-dark">S</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

<router-outlet></router-outlet>
